.div {
  background-image: url("../assets/register.png");
  background-position: center;
  background-size: cover;
  padding: 4rem 6rem 4rem 6rem;
}

.div h2 {
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
  margin-bottom: 3rem;
}

.div form {
  display: flex;
  gap: 6rem;
}

.div form .subForm {
  width: 51.7rem;

  /* flex: 1; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.4rem;
}

.div form button {
  background-color: #f05b1f;
  border: none;
  outline: none;
  color: #fff;
  padding: 1.4rem 1rem;
  font-size: 2rem;
  font-weight: 800;
  margin-top: 3.5rem;
  cursor: pointer;
}

.div form label {
  display: inline-block;
  font-size: 2rem;
  font-weight: 600;
  color: #fff;
  margin-bottom: 1rem;
}

.div form input:not([type="file"]) {
  display: block;
  width: 100%;
  padding: 1.4rem 1rem;
  border: 1px solid #5f5f5f;
  outline: none;
  font-size: 1.8rem;
  background-color: #e4e4e4;
}

.inputImage {
  position: relative;
}
.inputFile {
  position: absolute;
  top: 50.5px;
  right: 20px;
  z-index: 10;
  background-color: #fff;
  font-size: 1.4rem !important;
  color: #f05b1f !important;
  padding: 0.5rem 1rem;
  border: 1px solid #f05b1f;
}

input[type="file"] {
  display: none;
}

.div form p {
  font-size: 2rem;
  font-weight: 800;
  color: #fff;
  text-align: center;
}
.login {
  color: #f05b1f;
}
