.div {
  margin: 0 5rem 5rem 5rem;
}

.div h1 {
  font-size: 4rem;
  font-weight: 600;
  text-align: center;
  margin: 3.2rem 0 3.2rem 0;
}

.services {
  display: flex;
  justify-content: space-around;
  gap: 6rem;
}

.div img {
  width: 100%;
}
